@font-face {
    font-family: 'Marker Felt';
    src: url('MarkerFelt-Wide.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marker Felt';
    src: url('MarkerFelt-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
